# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/
lib/

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# env files
.env*
!.env.example

# local data
data/

# Typescript
tsconfig.tsbuildinfo

# Docker volumes
volumes/
